* {
    font-family: sans-serif;
    background-color: #0000AF;
}

h1 {
    color: white;
    font-family: Trebuchet MS;
}

p {
    color: whitesmoke;
    font-family: Georgia;
}

.left {
    text-align: left;
}